

.container
{
    height: 80vh;
    width: 20vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input
{
    width: 90%;
    height: 8%;
    align-self: center;
    margin-top:2%;
    text-align: right;
    font-size: 25px;

}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center; /* center items horizontally in each cell */
    align-items: center;   /* center items vertically */
    padding: 10px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

li input {
    width: 100%; /* or 100% if you want it full width of the cell */
    height: 60px; /* let content decide height */
}

